* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
}

.nav--section {
  background-color: #f55a5a;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px 0;
  gap: 7px;
}

.nav--section h1 {
  font-size: 14.6px;
  font-weight: 500;
}

.destination-section {
}

.destination-container {
  max-width: 1000px;
  margin: 50px auto;
}

.destination-card {
  display: flex;
  gap: 40px;
  margin-bottom: 36px;
}

.destination-card--image {
  width: 220px;
  height: 268px;
  object-fit: cover;
  border-radius: 5px;
}
.destination-card--column-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.destination-card--column-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.destination-card--location {
  display: flex;
  align-items: center;
  gap: 10px;
}

.destination-card--location img {
  width: 10px;
}

.destination-card--location p {
  text-transform: uppercase;
  font-size: 10pxl;
  font-weight: 400;
}

.destination-card--location a {
  color: #918e9b;
  font-size: 10pxl;
}

.destination-card--title {
  height: 40px;
}

.destination-card--column-2 h2 {
  font-size: 25px;
}

.destination-card--column-2 h3 {
  font-size: 10px;
  font-weight: 700;
}

.destination-card--column-2 .destination-description {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
  color: #2b283a;
  margin-top: 9px;
}
